# Секретный ключ Django=
SECRET_KEY=

# Режим дебага (указать "True", иначе всегда будет "False")=
DEBUG=

# Настройки подключения к базе данных =
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Разрешённые подключения, ip-адреса чрез запятую без пробелов
# ALLOWED_HOSTS=0.0.0.0,...
# CORS_ALLOWED_ORIGINS=http://0.0.0.0:port,...
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=